In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [ ]:
airport_data = pd.read_csv('Documents\BainAirlineTaskDatasets\Flight_on_time_HIX.csv')
weather_data = pd.read_csv('Documents\BainAirlineTaskDatasets\weather.csv')

In [ ]:
## Review/Math Functions
.max()
.round(list, numdigits)
.type()
.int()
.len()
list = []

.isnull().sum()
##5. Check the percentages of missing value
df.isnull().sum() / df.shape[0] * 100
data['ShortPassing'].fillna(data['ShortPassing'].mean(), inplace = True)

In [ ]:
.append('')

df['column name'] = 'new variable'
df[0:2] = 'x', 'y' 
del(df[index num]) ## removal by index
df + ['', number] # Adding two lists together

In [ ]:
##Reference to List
y= list()
y = x[:] # all list elements are pulled

## Index Slicing 
df[start:exclude]
df[:exclude]  # start from 0
df[start:] ## begin at start end to end of list
df[-1] # calls the last element

4. Change the data type

In [ ]:
#Replace Data Types to Integer
df["Customer Number"] = df['Customer Number'].astype('int')
#Replace Data Types to String
df["Customer Number"] = df['Customer Number'].astype('str')
#Replace Data Types to Boolean
df["IsPurchased"] = df['IsPurchased'].astype('bool')
#Replace Data Types to Float
df["Total Spend"] = df['Total Spend'].astype('float')
#Replace Data Types to Datetime with format= '%Y%m%d'
df['Dates'] = pd.to_datetime(df['Dates'], format='%Y%m%d')

In [ ]:
df[['city', 'country']] = df['address'].str.split(',', expand=True)

In [ ]:

#Summary statistics
df.describe()
#drop duplicates values and keep the first records from duplicates
#with an assumption that the first row contains the latest data 

df = df.drop_duplicates("Player", keep='first')
df= df.reset_index(drop=True)

In [ ]:
%pylab inline
null_columns = loan.isnull().sum()  # to find the number of null values in each column
null_columns = null_columns[null_columns.values > (0.30*len(loan))]
plt.figure(figsize(20,4))
null_columns.plot(kind='bar')
plt.title('List of columns Vs Null counts')
plt.show();

In [ ]:
#plot the histogram to see the distribution of the point data.
sns.displot(data, x="age")

In [ ]:
corrMatrix = df.corr()

sns.heatmap(corrMatrix, annot = True, cmap= 'coolwarm')

In [ ]:
# filter the dataframes by country
wales = dataset_clean[dataset_clean["country"] == 'Wales']
israel = dataset_clean[dataset_clean["country"] == 'Israel
wales.hist(column="daily_vaccinations")

In [ ]:
new_df = pd.get_dummies(df,drop_first=True)
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

In [ ]:
data.iloc[data.groupby(data['Position'])['Overall'].idxmax()][['Position', 'Name', 'Age', 'Club', 'Nationality']]

In [ ]:
sns.lmplot(x = 'BallControl', y = 'Dribbling', data = data, col = 'Preferred Foot')
<seaborn.axisgrid.FacetGrid at 0x7f9e33b3ae80>

In [ ]:
#Let’s say you need to select the numeric columns.

df.select_dtypes(include='number').head()
# select multiple data types
df.select_dtypes(include=['int', 'datetime', 'object'])
# exclude certain data types
df.select_dtypes(exclude='int')

In [ ]:
df = pd.DataFrame({ 'product': ['A','B','C','D'], 
                   'price': ['10','20','30','40'],
                   'sales': ['20','-','60','-']
                  })

# Use Python type
df['price'] = df['price'].astype(int)
# alternatively, pass { col: dtype }
df = df.astype({'price': 'int'})

##invalid values - get converted into NaN and the data type is float.
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')

df.isnull().sum().sum() ##returns the total number of missing values.
#find out the percentage of values that are missing by running 
df.isna().mean()


# drop rows if any NAN values are present
df.dropna(axis = 0)
# drop columns if any nan values are present
df.dropna(axis = 1)

#drop columns in which more than 10% of values are missing

df.dropna(thresh=len(df)*0.9, axis=1)


#replace all NaN values with a scalar
df.fillna(value=10)

#To replace NaN values with the values in the previous row.
df.fillna(axis=0, method='ffill')

#To replace NaN values with the values in the previous column.
df.fillna(axis=1, method='ffill')

# Replace with the values in the next row
df.fillna(axis=0, method='bfill')
# Replace with the values in the next column
df.fillna(axis=1, method='bfill')

##replace NaN values in column Age with the mean.

df['Age'].fillna(value=df['Age'].mean(), inplace=True)

## continous variable into categorical
#Age is a continuous numerical attribute, but what if you want to convert it into a categorical attribute, for example, convert ages to groups of age ranges: ≤12, Teen (≤18), Adult (≤60), and Older (>60)
import sys
df['ageGroup']=pd.cut(
    df['Age'], 
    bins=[0, 13, 19, 61, sys.maxsize], 
    labels=['<12', 'Teen', 'Adult', 'Older']
)